@keyframes transition {
    from {color: rgba(0,0,0,0);}
    to {color: #006989;}
}
.searchbar {
    background-color: #A3BAC3;
    display: flex;
    justify-content: center; 
    padding-top: 10px;
}
.second-search {
    background-color: #A3BAC3;
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.body p {
    font-size: 5em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: rgba(0,0,0,0)
}

.body .search {
    animation-name: transition;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.body .rate {
    animation-name: transition;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.body .know {
    animation-name: transition;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards; 
}

input {
    width: 500px;
    background-color: darkgray
}

.body {
    height: 800px;
    background: url(/assets/students.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}