.results-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 10px;
    grid-auto-rows: minmax (100px auto);
    border: solid;
    border-color: black;
    border-width: thin;
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;  
    text-decoration: none;
    color: black;
    &:hover {
        -webkit-box-shadow: 0px 5px 30px 0px #ccc; 
        -moz-box-shadow: 0px 5px 30px 0px #ccc;  
         box-shadow: 0px 5px 30px 0px #ccc; 
        text-emphasis: bold;
        color: black;
        text-decoration: none;
        cursor: pointer;          
    }   
}

.home-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon img {
    padding-left: 10px;
    padding-top: 5px;
    height: 35px;
    width: 50px;
}

.professor-name {
    padding-top: 8px;
}

.school-name {
    padding-top: 8px;
}

.subject-name {
    padding-top: 8px;
}
