#wrapper {    
    background-color: #A4BAC2;
    width: 100%;
    margin: 50px auto;
    column-count: 2;
    column-fill: auto;
}

.pin {
    display: inline-block;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0px 2px 15px 0px;
    padding: 15px 15px 5px 15px;
    // background: -webkit-linear-gradient(45deg, #EAEBED, #EAEBED);
}

.pin img {
    width: 550px;
    height: 550px;    
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pin, img:hover {
    border-radius: 20px;
    cursor: pointer;
}

.attributes {
    font-family: 'Righteous', cursive;
    line-height: 2.4;
    color: black;
    margin-top: 35px;
    font-size: 20px;
    float: left;
}

.columns {
    text-align: center;
    margin-top: 10px;

    h2{
        font-family: 'Hanalei Fill', cursive;
    }
}